<div class="flex relative text-white w-full">
  <img src="assets/images/landing-img.png" alt="" class="w-full h-[100vh] object-cover z-0">


  <div class="absolute mt-[70px] w-full h-[calc(100vh-70px)] flex flex-col justify-center">
    
    <img class="w-[25vh] sm:w-[40vh] mx-auto mb-10" src="assets/images/logo/logo-w.svg" alt="">
    
    <div class="w-full flex flex-col sm:flex-row justify-center text-xl md:text-2xl">

      <div class="mx-auto sm:mr-10 md:mr-20 lg:mr-32">
        <p class="text-3xl md:text-4xl text-center mb-3">{{'winter-working-hours' | translate}}</p>
        <div class="border-y-4 border-white p-3 flex justify-center">
          <div class="text-right">
            <p>{{'working-days' | translate}}</p>
            <p>{{'saturday' | translate}}</p>
            <p>{{'sunday' | translate}}</p>
          </div>
          <div class="border border-white mx-3">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <p>08:00 - 16:00</p>
            <p>08:30 - 12:00</p>
            <p>{{'closed' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="mx-auto mt-10 sm:mt-0">
        <p class="text-3xl md:text-4xl text-center mb-3">{{'summer-working-hours' | translate}}</p>
        <div class="border-y-4 border-white p-3 flex justify-center">
          <div class="text-right">
            <p>{{'working-days' | translate}}</p>
            <p>{{'saturday' | translate}}</p>
            <p>{{'sunday' | translate}}</p>
          </div>
          <div class="border border-white mx-3">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div>
            <p>08:00 - 19:00</p>
            <p>08:30 - 12:00</p>
            <p>{{'closed' | translate}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>