<nav id="navbar" class="navbar px-[4.167%] md:px-[16.67%]">
	<a class="nav-branding" href="">
		<img src="assets/images/logo/logo-w.svg" alt="" class="navbar-logo">
	</a>

	<ul class="nav-menu">
		<li class="nav-item">
			<a class="nav-link" href="radno-vreme">
				<span class="ml-2">{{'working-hours' | translate}}</span>
			</a>
		</li>
		<li class="nav-item">
			<app-language-toggle></app-language-toggle>
		</li>
		<!--
		<li class="nav-item">
			<a (click)="toggleTheme()" class="nav-link">
				<div class="tdnn day">
						 <div class="moon sun">
						</div>
				</div>
			</a>
		</li>
		-->
		
	</ul>

	<div class="hamburger">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</div>
</nav>