<div class="flex relative text-white mb-16">
  <img src="assets/images/landing-img.png" alt="" class="w-full h-[100vh] object-cover z-0">
  <div class="absolute w-full h-[100vh] z-10 pt-[70px] sm:px-10 text-center flex flex-col md:flex-row justify-center">
    <img src="assets/images/logo/logo-w.svg" alt="" class="w-[70vw] sm:w-[50vw] md:w-[35vw] mx-auto md:mx-5 my-5">
    <div class="md:my-auto">
      <h1 class="md:text-right text-4xl md:text-6xl xl:text-7xl m-5">{{'title' | translate}}</h1>
    </div>
  </div>
  <div class="absolute bottom-16 right-10 z-50">
    <div class="arrow">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<section class="py-16 w-11/12 lg:w-5/6 xl:w-4/6 mx-auto text-sm sm:text-base flex flex-col-reverse md:flex-row to-right">
  <div class="w-full md:w-2/3 my-auto text-right px-10">
    <h2>{{'section-title-1' | translate}}</h2>
    <p class="indent-0 pr-0 text-right text-2xl">
      {{'section-content-1-1' | translate}}<br/>
      {{'section-content-1-2' | translate}}<br/>
      {{'section-content-1-3' | translate}}
    </p>
  </div>
  <div class="w-full md:w-1/3">
    <img src="assets/images/home-img-1.png" alt="" class="w-full sm:w-[50vw] mx-auto mb-10 md:mb-0 object-scale-down"/>
  </div>
</section>

<section class="py-16 w-11/12 lg:w-5/6 xl:w-4/6 mx-auto text-sm sm:text-base flex flex-col md:flex-row to-left">
  <div class="w-full md:w-1/3">
    <img src="assets/images/home-img-2.png" alt="" class="w-full sm:w-[50vw] mx-auto mb-10 md:mb-0 object-scale-down"/>
  </div>
  <div class="w-full md:w-2/3 my-auto px-10">
    <h2>{{'section-title-2' | translate}}</h2>
    <p class="indent-0 pl-0 text-2xl">
      {{'section-content-2-1' | translate}}<br/>
      {{'section-content-2-2' | translate}}<br/>
      {{'section-content-2-3' | translate}}
    </p>
  </div>
</section>

<section class="py-16 w-11/12 lg:w-5/6 xl:w-4/6 mx-auto text-sm sm:text-base flex flex-col-reverse md:flex-row to-right">
  <div class="w-full md:w-2/3 my-auto text-right">
    <h2>{{'section-title-3' | translate}}</h2>
    <p class="indent-0 pr-0 text-right text-2xl">
      {{'section-content-3-1' | translate}}<br/>
      {{'section-content-3-2' | translate}}<br/>
      {{'section-content-3-3' | translate}}
    </p>
  </div>
  <div class="w-full md:w-1/3 flex justify-end">
    <img src="assets/images/home-img-3.png" alt="" class="w-full sm:w-[50vw] mx-auto mb-10 md:mb-0 object-scale-down"/>
  </div>
</section>

<section class="py-16 to-up">

  <h2 class="text-center">{{'introduction-title' | translate}}</h2>
  <div class="w-11/12 sm:w-5/6 lg:w-4/6 mx-auto flex flex-wrap text-xl text-justify indent-[4ch]">
    <p class="w-full mb-[1ch] text-2xl">
      {{'introduction-content-1' | translate}}
    </p>
    <p class="w-full mb-[1ch] text-2xl">
      {{'introduction-content-2' | translate}}
    </p>
  </div>

</section>

<section class="text-center py-16">
  <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="">
        </div>
    </ngx-slick-carousel>
</section>

<section class="w-full bg-[#301010] text-white p-10 flex flex-row flex-wrap gap-y-10 md:gap-0 text-center">
  <div class="w-1/2 sm:w-1/3 md:w-1/4 hidden sm:block">
    <img src="assets/images/logo/logo-w.svg" alt="" class="h-52 mx-auto">
  </div>
  <div class="w-1/2 sm:w-1/3 md:w-1/4">
    <h3>{{'contant' | translate}}</h3>
    <p>025 / 412 - 151</p>
    <p>eurobike2@gmail.com</p>
    <p class="mt-5 text-4xl"><i class="pi pi-instagram mr-4"></i> <i class="pi pi-facebook"></i></p>
  </div>
  <div class="w-1/2 sm:w-1/3 md:w-1/4">
    <h3>{{'address' | translate}}</h3>
    <p>Staparski put 46</p>
    <p>Sombor</p>
    <p>25000</p>
    <p>Srbija</p>
  </div>
  <div class="w-full md:w-1/4">
    <app-map></app-map>
  </div>
  
</section>
